@font-face {
    font-family: "TorontoSubwayW01-Regular";
    src: url("http://db.onlinewebfonts.com/t/6032045c739406c023ba28081d83924a.eot");
    src: url("http://db.onlinewebfonts.com/t/6032045c739406c023ba28081d83924a.eot?#iefix") format("embedded-opentype"),
    url("http://db.onlinewebfonts.com/t/6032045c739406c023ba28081d83924a.woff2") format("woff2"),
    url("http://db.onlinewebfonts.com/t/6032045c739406c023ba28081d83924a.woff") format("woff"),
    url("http://db.onlinewebfonts.com/t/6032045c739406c023ba28081d83924a.ttf") format("truetype"),
    url("http://db.onlinewebfonts.com/t/6032045c739406c023ba28081d83924a.svg#TorontoSubwayW01-Regular") format("svg");
}

@font-face {
    font-family: "atari_st";
    src: url("http://db.onlinewebfonts.com/t/7a7d5578bd2ddba4a33b77d1f90fa994.eot");
    src: url("http://db.onlinewebfonts.com/t/7a7d5578bd2ddba4a33b77d1f90fa994.eot?#iefix") format("embedded-opentype"),
    url("http://db.onlinewebfonts.com/t/7a7d5578bd2ddba4a33b77d1f90fa994.woff2") format("woff2"),
    url("http://db.onlinewebfonts.com/t/7a7d5578bd2ddba4a33b77d1f90fa994.woff") format("woff"),
    url("http://db.onlinewebfonts.com/t/7a7d5578bd2ddba4a33b77d1f90fa994.ttf") format("truetype"),
    url("http://db.onlinewebfonts.com/t/7a7d5578bd2ddba4a33b77d1f90fa994.svg#Atari ST 8x16 System Font") format("svg");
}

.offscreen {
    position: absolute;
    left: -100000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

:root {
    --cultured: #f5f5f5ff;
    --silver: #c2c2c2ff;
    --silver-chalice: #aeaeaeff;
    --spanish-gray: #999999ff;
    --red-orange-color-wheel: #fb4400ff;
    --raisin-black: #2b2929;
    --eerie-black: #141414ff;

    --foreground: var(--raisin-black);
    --inactive: var(--silver-chalice);
    --active: var(--spanish-gray);
    --editor-region: var(--raisin-black);
    --header-region: var(--eerie-black);
    --header-text: var(--cultured);
}

body {
    font-family: 'TorontoSubwayW01-Regular';
    background: linear-gradient(90deg, var(--cultured) 0%, var(--silver) 75%);
    color: #e1eef4ff;
    margin-right: 32px;
}

.main-header {
    display: flex;
    height: 100px;
    width: 100%;
}

.product-name {
    height: 25px;
    font-size: xx-large;
    color: var(--red-orange-color-wheel);
    padding-right: 25px;
}

.company-name {
    width: 50px;
    font-size: larger;
    color: var(--raisin-black);
    padding-left: 25px;
    margin-left: auto !important;
}

.global-section {
    background-color: var(--active);
    border-radius: 5px;
    width: 100%;
    height: 100%;
    padding: 5px;
    margin-bottom: 10px;
    box-shadow: 7px 7px 4px -3px var(--active);
}

.tabs {
    display: flex;
    overflow: hidden;
}

.tabs-span {
    padding: 5px 5px;
    margin-right: 5px;
    border-radius: 5px 5px 0px 0px;
    background-color: var(--inactive);
    height: 55px;
    width: 48px;
}

.tabs-label-div {
    display: flex;
    font-size: x-large;
}

.tabs-label {
    font-size: larger;
    width: 100%;
    align-self: flex-start;
    color: var(--eerie-black);
}

.tab-active {
    height: 32px;
    background-color: var(--active);
    box-shadow: 7px 7px 4px -3px var(--active);
}

.tab-inactive {
    height: 24px;
    align-self: flex-end;
}

.tabs span:hover {
    cursor: pointer;
}

.generator-editor {
    background-color: var(--active);
    width: 100%;
    height: 100%;
    padding: 5px;
    margin: 0px;
    box-shadow: 7px 7px 4px -3px var(--active);
}

.editor-row {
    display: flex;
    flex-direction: row;
}

.settings-editor {
    width: 120px;
    margin-left: auto !important;
    flex: none;
}

.editor-panel {
    box-shadow: 7px 7px 4px -3px var(--editor-region);
    background-color: var(--editor-region);
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    font-size: smaller;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.parameter {
    border-radius: 5px 5px 0 0;
}

h3 {
    padding-left: 5px;
    border-radius: 5px 5px 0 0;
    background-color: var(--header-region);
    color: var(--header-text);
}

.viz-canvas {
    margin: 0;
    padding: 0;
    font-family: atari_st;
}

.ampl-editor {
    display: flex;
    flex-direction: column;
}

.envelope-editor {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 375px;
}

.env-viz {
}

.graphical-env-container {
    width: 100%;
    margin: 5px;
    padding: 0px;
    border-radius: 5px;
    background: #80d2ff;
    box-shadow: inset 7px 7px 14px #65a6c9,
    inset -7px -7px 14px #9bfeff;
}

.harmonics-editor {
    display: flex;
    flex-direction: column;
}

.harmonics-viz {
}

.harmonics-viz-container {
    display: flex;
    width: 100%;
    margin: 5px;
    border-radius: 5px;
    background: #80d2ff;
    box-shadow: inset 7px 7px 14px #65a6c9,
    inset -7px -7px 14px #9bfeff;
}

.section {
    padding-top: 10px;
}

.section-header {
    margin: 5px;
    padding-left: 5px;
    font-size: larger;
    font-weight: bold;

    border-radius: 5px 5px 0 0;
    background-color: var(--header-region);
    color: var(--header-text);
    display: flex;
    flex-direction: row;
}

.mod-add-button {
    font-size: large;
    background-color: var(--header-region);
    color: var(--header-text);
    margin-right: 20px;
    margin-bottom: 2px;
    border: none;
    background: linear-gradient(145deg, #2e2c2c, #272525);
    box-shadow: 2px 2px 2px #1a1919;
}

.mod-add-button:hover {
    background: linear-gradient(145deg, #272525, #2e2c2c);
    box-shadow: 2px 2px 5px #1a1919, -2px -2px 5px #3c3939;
}

.mod-add-button:active {
    background: #2b2929;
    box-shadow: inset 2px 2px 5px #1a1919,
    inset -2px -2px 5px #3c3939;
}

.modulation-selector-panel {
    display: flex;
    flex-direction: column;
}

.mod-selector-select {
    background: var(--raisin-black);
    color: var(--silver);
    border: 6px solid transparent;
    padding: 2px;
    font-family: 'TorontoSubwayW01-Regular';
}


.hold {
    grid-area: 1 / 1 / 2 / 2;
}

.a-rate {
    grid-area: 1 / 2 / 2 / 3;
}

.d1-rate {
    grid-area: 1 / 3 / 2 / 4;
}

.d2-rate {
    grid-area: 1 / 4 / 2 / 5;
}

.r1-rate {
    grid-area: 1 / 5 / 2 / 6;
}

.r2-date {
    grid-area: 1 / 6 / 2 / 7;
}

.a-level {
    grid-area: 2 / 2 / 3 / 3;
}

.d1-level {
    grid-area: 2 / 3 / 3 / 4;
}

.s-level {
    grid-area: 2 / 4 / 3 / 5;
}

.r-level {
    grid-area: 2 / 6 / 3 / 7;
}


.lfo-panel {
    width: 400px;
    height: 200px;
}

